version: '3'
services:

  webserver:
    build:
      context: ./webserver
      args:
        - INSTALL_XDEBUG=${INSTALL_XDEBUG}
        - INSTALL_PDO_MYSQL=${INSTALL_PDO_MYSQL}
        - INSTALL_MONGODB=${INSTALL_MONGODB}
        - INSTALL_IMAGEMAGICK=${INSTALL_IMAGEMAGICK}
    image: php:7-apache
    container_name: dev_stack__webserver
    volumes:
      - ${DOCUMENT_ROOT}:/var/www/html
      - ./webserver/php/php.ini:/usr/local/etc/php/conf.d/dev_stack.ini
      - ./webserver/apache/apache2.conf:/etc/apache2/conf-available/dev_stack.conf
      - ./webserver/apache/vhosts.conf:/etc/apache2/sites-available/000-default.conf
    ports:
      - ${HTTP_PORT}:80
    links:
      - mysql
      - phpmyadmin
      - mongo-express
      - workspace
    environment:
      - TZ=${TIMEZONE}
      
  mysql:
    image: mysql:8
    container_name: dev_stack__mysql
    volumes:
      - ./mysql/mysql.cnf:/etc/mysql/conf.d/dev_stack.cnf
      - ./mysql/build.sql:/docker-entrypoint-initdb.d/build.sql
    ports:
      - ${MYSQL_PORT}:3306
    environment:
      - TZ=${TIMEZONE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

  phpmyadmin:
    build: ./phpmyadmin
    image: phpmyadmin/phpmyadmin
    container_name: dev_stack__phpmyadmin
    volumes:
      - ./phpmyadmin/config.php:/etc/phpmyadmin/config.user.inc.php
    links:
      - mysql
    environment:
      - TZ=${TIMEZONE}
      - PMA_HOST=mysql
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=root

  mongo:
    image: mongo
    container_name: dev_stack__mongo
    volumes:
      - ./mongo/build.js:/docker-entrypoint-initdb.d/build.js
    ports:
      - ${MONGO_PORT}:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}

  mongo-express:
    image: mongo-express
    container_name: dev_stack__mongo_express
    restart: always
    links:
      - mongo
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_USERNAME}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_PASSWORD}

  workspace:
    build:
      context: ./workspace
      args:
        - INSTALL_XDEBUG=${INSTALL_XDEBUG}
        - INSTALL_PDO_MYSQL=${INSTALL_PDO_MYSQL}
        - INSTALL_MONGODB=${INSTALL_MONGODB}
        - INSTALL_IMAGEMAGICK=${INSTALL_IMAGEMAGICK}
    image: php:7
    container_name: dev_stack__workspace
    tty: true
    volumes:
      - ${DOCUMENT_ROOT}:/var/www/html
    environment:
      - TZ=${TIMEZONE}
      - COMPOSER_ALLOW_SUPERUSER=1