version: '3'
services:

  webserver:
    build: ./webserver
    image: php:7-apache
    container_name: dev_stack__webserver
    volumes:
      - ${DOCUMENT_ROOT}:/var/www/vhosts
      - ./webserver/php7/php.ini:/usr/local/etc/php/conf.d/dev_stack.ini
      - ./webserver/apache2/apache2.conf:/etc/apache2/conf-available/dev_stack.conf
      - ./webserver/apache2/vhosts.conf:/etc/apache2/sites-available/000-default.conf
    ports:
      - ${HTTP_PORT}:80
      #- ${HTTPS_PORT:-443}:443
    links:
      - mysql
      - phpmyadmin

  mysql:
    image: mysql:8
    container_name: dev_stack__mysql
    volumes:
      - ./mysql/mysql.cnf:/etc/mysql/conf.d/dev_stack.cnf
      - ./mysql/docker-entrypoint-initdb.d/build.sql:/docker-entrypoint-initdb.d/build.sql
    ports:
      - ${MYSQL_PORT}:3306
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: dev_stack__phpmyadmin
    links:
      - mysql
    environment:
      - PMA_HOST=mysql
      - PMA_PORT=3306
      - PMA_USER=root_native
      - PMA_PASSWORD=root